@page "/"
@page "/home"

@using KnockBox.Services.Navigation.Games

@inherits DisposableComponent

<PageTitle>Knockbox Games</PageTitle>

<div class="home-container">
    <h1>Knockbox</h1>

    <div class="join-form" style="margin-bottom: 24px;">
        <div class="join-form-room-code text-start">
            <h2>Player Name:</h2>
            <input placeholder="Enter name" 
                   type="text" maxlength="12" name="player-name" 
                   @bind="PlayerName" @bind:event="oninput" style="text-transform: none;"/>
        </div>
    </div>

    <div class="join-form">
        <div class="join-form-room-code">
            <h2>
                Room Code:
            </h2>
            <input placeholder="KN0CK3OX" 
                   type="text" maxlength="@LobbyCodeService.LobbyCodeLength" name="room-code" 
                   @bind="LobbyCode"/>
        </div>
        <button disabled="@(!CanJoinOrCreate)" @onclick="() => JoinLobby(LobbyCode ?? string.Empty)">Join</button>
    </div>

    <div class="game-grid">
        <button class="game" aria-label="Dice Simulator" disabled="@(!CanJoinOrCreate)" @onclick="() => CreateLobby(GameType.DiceSimulator)">
            Dice Simulator
        </button>
        <button class="game" aria-label="Card Counter" disabled="@(!CanJoinOrCreate)" @onclick="() => CreateLobby(GameType.CardCounter)">
            Card Counter
        </button>
        <button class="game" aria-label="Drawn To Dress" disabled="@(!CanJoinOrCreate)" @onclick="() => CreateLobby(GameType.DrawnToDress)">
            Drawn To Dress
        </button>
        <button class="game" aria-label="Consult The Card" disabled="@(!CanJoinOrCreate)" @onclick="() => CreateLobby(GameType.ConsultTheCard)">
            Consult The Card
        </button>
    </div>
</div>