@page "/"
@page "/home"

@inherits DisposableComponent

<PageTitle>Knockbox Games</PageTitle>

<div class="home-container">
    <h1>Knockbox</h1>

    <form @onsubmit="() => JoinLobby(LobbyCode ?? string.Empty)" @onsubmit:preventDefault="true">
        <div class="join-form" style="margin-bottom: 24px;">
            <div class="join-form-room-code text-start">
                <h2>Player Name:</h2>
                <input placeholder="Enter name" 
                       type="text" maxlength="12" name="player-name" 
                       @bind="PlayerName" @bind:event="oninput" style="text-transform: none;"/>
            </div>
        </div>

        <div class="join-form">
            <div class="join-form-room-code">
                <h2>
                    Room Code:
                </h2>
                <input placeholder="KN0CK3OX" 
                       type="text" maxlength="@LobbyCodeService.LobbyCodeLength" name="room-code" 
                       @bind="LobbyCode"/>
            </div>
            <button type="submit" disabled="@(!CanJoinOrCreate)">Join</button>
        </div>
    </form>

    <div class="game-grid">
        @foreach (var module in GameModules.OrderBy(m => m.Name))
        {
            <button class="game-tile" aria-label="@module.Name" disabled="@(!CanJoinOrCreate)" @onclick="() => CreateLobby(module.RouteIdentifier)">
                @module.GetButtonContent()
            </button>
        }
    </div>
</div>