@using KnockBox.HiddenAgenda.Services.State.Games

<div class="ha-guess-form">
    @foreach (var opponent in Opponents)
    {
        <div class="ha-opponent-guess">
            <h5 class="ha-subheading">Guess tasks for <strong>@opponent.DisplayName</strong>:</h5>
            <div class="ha-task-selections">
                @for (int i = 0; i < 3; i++)
                {
                    var index = i;
                    <div class="ha-task-select-container">
                        <select class="ha-select" @bind="Guesses[opponent.PlayerId][index]">
                            <option value="">-- Select Task --</option>
                            @foreach (var task in TaskPool)
                            {
                                <option value="@task.Id">[@task.Category] @task.Id: @task.Description</option>
                            }
                        </select>
                    </div>
                }
            </div>
        </div>
    }

    <div class="ha-submit-section">
        @if (!Validate())
        {
            <p class="ha-text-danger">Each opponent must have 3 unique tasks assigned.</p>
        }
        <button class="ha-btn ha-btn-primary ha-btn-lg" disabled="@(!Validate())" @onclick="Submit">Submit All Guesses</button>
    </div>
</div>
